@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    color: var(--main-white);
}

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: var(--main-red);
    position: sticky;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: var(--main-white);
}

nav ul li a:hover {
    background-color: var(--main-blue);
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--main-white);
}

section p {
    font-style: italic;
    color: var(--main-red);
    font-size: 1.8rem;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(60deg, #3a3d40 0%, #181719 100%);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

h2 {
    font-size: 2.5rem;
}

#projects {
    text-align: center;
    padding: 5rem 2rem;
    background: var(--main-blue);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

img {
    display: block;
}

.project-title {
    font-size: 1.5rem;
    padding: 2rem 0.5rem;
    color: var(--main-white);
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

footer {
    background-color: var(--main-gray);
    padding: 2rem;
    text-align: center;
}

footer h3 {
    font-weight: 300;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div span {
    margin: 1rem;
}

footer div span i {
    font-size: 1.8rem;
}

@media (max-width: 750px) {
    h1 {
        font-size: 3rem;
    }
}
